body{
  padding-top: 25px; 
  padding-left:100px;
  padding-right: 100px;
  background-color : #a0c4ff;
}
header{
  text-align: center;
  color:white;
  font-family:Sans-Serif;
  font-weight: 700;
  font-size: 24px;
  background-color:#1a2d59;
  width=100%;
  padding: 15px 0;
  margin-top:0px ;
  margin-bottom: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
}


.btn{


  background-color:#00cccc;
  color: white;
  border:2px solid #000;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  margin: 0px 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 16px;
  font-weight: bold;
}
.buttons{
  display:flex;
  justify-content:center;
  align-items: center;
  width:100%;
  margin: 20%,0;
  
}
.btn:hover{
  background-color :#009999;
}
img{
  padding-top: 25px;
  padding-bottom: 75px;
}
a:link{
  text-decoration: none;
  color:inherit;
}
a:visited{
  color:inherit;
}
h2{
  background-color: rgb(255,168,130);
  text-align: center;
  font-weight: 700;
}
.container{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 20px;
  padding-top:0px;
  border-radius: 10px;
  margin: 30px auto;
  text-align: center;
}
.container img{
  margin-top: 15px;
}